<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{layout/head :: head}"></div>
<body>
<div th:replace="~{layout/header :: header}"></div>
<section th:fragment="content" class="home">
    <div class="container">
       <h1 class="title">Create New Team</h1>
        <form th:action="@{'/persons/update/' + ${person.getId()}}" th:object="${person}" method="post" class="form">
            <input type="hidden" th:field="*{id}"/>

            <div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>

            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required/><br/>

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" th:field="*{cpf}" required/><br/>

            <label for="birthDate">Birth Date:</label>
            <input type="date" id="birthDate" th:field="*{birth_date}" required/><br/>

            <label for="phone">Phone:</label>
            <input type="text" id="phone" th:field="*{phone}" required/><br/>

            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required/><br/>

            <label for="team">Team:</label>
            <select id="team" th:field="*{team}" required>
                <option value="">Select a team</option>
                <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
            </select><br/>




            <button type="submit">Update</button>
        </form>

        <div>
            <h2>Education</h2>
            <div th:if="${educations != null}">
                <div th:each="education : ${educations}">
                    <select name="educationLevelNames" required>
                        <option th:value="${education}" th:text="${educations.getCourseName()}" selected></option>
                    </select>
                    <form class="form" th:action="@{'/persons/removeEducation/' + ${educations.getId()}}" method="post" onsubmit="return confirm('Are you sure you want to delete this team?');">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="button button--danger">Delete</button>
                    </form>

                </div>
            </div>
            <a th:href="@{/educations/form/{personId}(personId=${person.getId()})}" class="button button--secondary">add Education</a>
        </div>

   </div>
</section>
<script>
    function cpf(v) {
        v = v.replace(/\D/g, "")
        v = v.replace(/(\d{3})(\d)/, "$1.$2")
        v = v.replace(/(\d{3})(\d)/, "$1.$2")
        v = v.replace(/(\d{3})(\d{1,2})$/, "$1-$2")
        return v
    }
    function phone(v) {
        v = v.replace(/\D/g, "");
        v = v.replace(/^(\d{2})(\d)/g, "($1) $2");
        v = v.replace(/(\d{5})(\d)/, "$1-$2");
        return v;
    }
    function applyCpfMask(event) {
        event.target.value = cpf(event.target.value);
    }
    function applyPhoneMask(event) {
        event.target.value = phone(event.target.value);
    }
</script>

</body>
</html>