<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{layout/head :: head}"></div>
<body>
<div th:replace="~{layout/header :: header}"></div>
<section th:fragment="content" class="education">

  <div class="container">
      <h1 class="title">Person Details</h1>
      <p th:text="'Name: ' + ${person.getName()}"></p>
      <p th:text="'Email: ' + ${person.getEmail()}"></p>
        <p th:text="'Phone: ' + ${person.getPhone()}"></p>
        <p th:text="'Birth Date: ' + ${person.getBirth_date()}"></p>
        <p th:text="'CPF: ' + ${person.getCpf()}"></p>

        <h2>Teams</h2>
        <ul>
            <li th:each="team : ${person.getTeam()}">
                <p th:text="'Team Name: ' + ${person.team.getName()}"></p>
                <p th:text="'Departament Name: ' + ${person.team.getDepartment()}"></p>
            </li>
        </ul>

      <h2>Educations</h2>
      <ul>
          <li th:each="education : ${person.getEducation()}">
              <p th:text="'Course Name: ' + ${education.courseName}"></p>
              <p th:text="'Course Level: ' + ${education.courseLevel}"></p>
              <p th:text="'Completion Date: ' + ${education.completionDate}"></p>
              <p th:text="'Institution: ' + ${education.institution}"></p>
          </li>
      </ul>

      <a th:href="@{/educations/form/{personId}(personId=${person.id})}">Add Education</a>
      <a th:href="@{'/teams/mural/' + ${person.team.getId()}}" class="button button--secondary">Back</a>
  </div>
</section>
<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>