.card {


  &-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  a {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: fit-content;
      text-align: center;
      transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background: #eee;
    }

  }

}

