<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{layout/head :: head}"></div>
<body>
<div th:replace="~{layout/header :: header}"></div>
<section th:fragment="content" class="home">
    <div class="container">
        <h1 class="title">Associate Education to Person</h1>
        <form th:action="@{/educations/associate/{personId}(personId=${personId})}" method="post" class="form">
            <label for="courseName">Course Name:</label>
            <input type="text" id="courseName" name="courseName" required placeholder="Enter course name">
            <label for="courseLevel">Education Level:</label>
            <select id="courseLevel" th:field="*{educationLevels}" required>
                <option value="">Selecione um nível</option>
                <option th:each="educationLevel : ${educationLevels}" th:value="${educationLevel.name()}" th:text="${educationLevel.displayName}"></option>
            </select>

            <label for="completionDate">Completion Date:</label>
            <input type="date" id="completionDate" name="completionDate" required placeholder="Enter completion date">

            <label for="institution">Institution:</label>
            <input type="text" id="institution" name="institution" required placeholder="Enter institution">

            <button type="submit" class="button button--primary">Associate Education</button>
            <a th:href="@{/persons/details/{personId}(personId=${personId})}" class="button button--secondary">back</a>
        </form>
    </div>
</section>
</body>
</html>