<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Team</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link para o seu CSS -->
</head>
<body>
<h1>Create New Team</h1>

<form th:action="@{/teams}" th:object="${team}" method="post">
    <div>
        <label for="name">Team Name:</label>
        <input type="text" id="name" th:field="*{name}" placeholder="Enter team name" required/>
    </div>
    <div>
        <label for="department">Departament:</label>
        <input type="text" id="department" th:field="*{department}" placeholder="Enter team name" required/>
    </div>
    <div>
        <button type="submit">Create Team</button>
    </div>
</form>

<a href="/teams">Back to Teams List</a>
</body>
</html>
