<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{layout/head :: head}"></div>
<body>
<div th:replace="~{layout/header :: header}"></div>
<section th:fragment="content" class="teams">

<div class="container">
    <h1 class="title">Team Mural</h1>
    <div class="teams-content">
            <div th:each="member : ${teamMembers}" class="card">
                    <a th:href="@{'/persons/details/' + ${member.key.getId()}}">
                        <p th:text="${member.key.name}" class="card-name">Name</p>
                        <p>Fact: <span th:text="${member.value}"></span></p>
                    </a>
            </div>
    </div>

</div>
</section>
<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>