<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team Mural</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Team Mural</h1>
<div class="container">
    <h2>Members:</h2>
    <div class="cards-container">
        <div th:each="member : ${teamMembers}" class="card">
            <p th:text="${member.name}" class="card-name">Name</p>
            <p th:text="${randomFact}" class="random-fact">Fact</p>
        </div>
    </div>

</div>
</body>
</html>
